body{
    font-family: 'Amatic SC', cursive;
    font-family: 'Julius Sans One', sans-serif;
}
h1 h4{
    color: black;
    font-family: 'Amatic SC', cursive;
    font-family: 'Julius Sans One', sans-serif;
}

p{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-family: 'Julius Sans One', sans-serif;
}

#title{
    text-align: center;
}

.jumbotron{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -10rem;
}

.space{
    padding: 10px;
}

.space2{
    padding: 3px;
}

.lead{
    font-weight: bold;
}

.navbar{
    padding: 0rem 0rem;
}

.shops{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.shops1{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
}

.ingredients{
    color: black;
    font-size: 12px;
}

.about{
    color: black;
    font-size: 15px;
}